body {
    background-color: #1f60c8;
    overflow-x: hidden;
}

#head {
    height: 44px;
    background: #1e60c9;
    padding: 0 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
}

#back-icon {
    position: relative;
    left: 0px;
    width: 24px;
    height: 24px;
}

img.back-icon {
    width: 100%;
    height: auto;
}

#title {
    position: absolute;
    top: -1px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    margin-left: 34px;
    padding: 0;
    line-height: 44px;
}

#content {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

#result-box {
    position: relative;
    background-color: #fff;
    height: auto;
    width: 100%;
    top: 72px;
    border-radius: 16px;
    margin: 0 0 0 0;
    padding: 0 0 0 0px;
}

#update-time {
    position: relative;
    margin-top: 0.85em;
    margin-bottom: 0.3em;
    padding-bottom: 0.5em;
    padding-left: 15px;
    color: #999;
    font-size: 16px;
    border-bottom: 0.5px solid #dad6d6;
}

#result {
    position: relative;
}

#date {
    position: relative;
    margin-top:17px;
    margin-left:49%;
    font-size: 17px;
    white-space: nowrap
}

#time {
    position: relative;
    height:30px;
    margin-top:5px;
    margin-left:49%;
    font-size: 21px;
    font-weight: bold;
    
}

span {
    float:left;
}

#second {
    color: #1e60c9;
}

#ms {
    color: #ff0000;
}

#pass-icon {
    position: relative;
    margin-top:5px;
    margin-left:67%;
    width: 71px; 
    height: auto; 
}

img.pass-icon {
    max-width: 100%; 
    height: auto; 
}

#pass-text {
    position: relative;
    margin-top:10px;
    left: 42%;
    color:#ff0000;
    font-weight: 700;
    font-size: 27px;
    width: 150px;
}

#welcome-text {
    position: relative;
    color:#0000ff;
    margin-left: 39%;
    margin-top:7px;
    font-size: 13px;
    font-weight: 700;
}

#welcome-text select {
    position: relative;
    color:#0000ff;
    font-size: 13px;
    font-weight: 700;
    border:none;
    appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Chrome and Safari */
    width: min-content;
    background-color: #fff;
}

#welcome-text select:focus {
    outline: none;
}

#gate {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#name-box {
    position: relative;
    height: 20px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 12px;
    border-top: 0.5px solid #dad6d6;
    border-bottom: 0.5px solid #dad6d6;
}

#name-title {
    position: relative;
    height:20px;
    float: left;
    color: #999;
    font-size:17px;
}

#name {
    position: relative;
    float: right;
    font-size:17px;
}

#name input{
    border:none;
    text-align: right;
    width:max-content;
    font-size:17px;
}

#name input:focus {
    outline: none;
}

#id-box {
    position: relative;
    height: 20px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 0px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #dad6d6;
}

#id-title {
    position: relative;
    height:20px;
    float: left;
    color: #999;
    font-size:17px;
}

#id {
    position: relative;
    float: right;
    font-size:17px;
}

#id input{
    border:none;
    text-align: right;
    width:max-content;
    font-size:17px;
}

#id input:focus {
    outline: none;
}

#type-box {
    position: relative;
    height: 20px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;;
    padding-top: 0px;
    padding-bottom: 10px;

}

#type-title {
    position: relative;
    height:20px;
    float: left;
    color: #999;
    font-size:17px;
}

#type {
    position: relative;
    float: right;
    font-size:17px;
}

#type select{
    border:none;
    font-size:17px;
    appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Chrome and Safari */
    width: min-content;
    background-color: #fff;
}

#type select:focus {
    outline: none;
}